*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
input::placeholder{
  font-family: inherit;
  color: inherit;
}
:root {
  /* colors */
  --hue: 220;
  --text: var(--hue) 4.8% 28.9%;
  --accent1: var(--hue) 43.6% 57.5%;
  --accent2: var(--hue) 71.4% 95.9%;
  --bkg: var(--hue) 100% 99.6%;

  /* box shadows */
  --boxs-sm: 
  4px 6px 8px hsl(var(--accent1) / 14%),
  -3px 3px 18px 2px hsl(var(--accent1) / 12%),
  2px 5px 10px -3px hsl(var(--accent1) / 20%);

  --boxs-lg: 
  0px 8px 10px hsl(var(--accent1) / 14%),
  0px 3px 14px 2px hsl(var(--accent1) / 12%),
  0px 5px 5px -3px hsl(var(--accent1) / 20%);

  /* sizing */
  --xlg: 2.369rem ;
  --xl: 1.777rem ;
  --md: 1.333rem ;
  --sm: 1rem ;
  --xsm: 0.75rem;

  /* misc */
  --radius--sm: 5px;
  --radius-lg: 15px;
  --transition: all 160ms cubic-bezier(0.99, 0.03, 0.68, 0.93);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap');
body{
  background-image: url("1234.gif");
  background-size: cover;
  font-family: 'Inter', sans-serif;
  color: hsl(var(--text));
  margin: var(--xlg) var(--lg);
  font-size: var(--sm);
  width: 100%;
}
.container{
  display:grid;
  grid-template-rows:auto auto 4fr;
  gap: var(--xlg);
  max-width: 100%;
}
.post-container{
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
  gap: var(--xlg);
  align-items: start;
}
h3{
  color: rgb(255, 233, 30);
  border-radius: var(--radius--sm);
  background: linear-gradient(45deg, rgba(238, 88, 230, 0.712),rgba(78, 15, 129, 0.842));
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
  gap: var(--xlg);
  align-items: center;
  width: fit-content;
}
h1{
  position:relative; 
  margin: auto; 
  display: grid; 
  justify-content: center; 
  color:#94F4FFD6 ;
  animation:linear infinite alternate;
  animation-name: run; 
  animation-duration: 2s; 
} 
@keyframes run {
  25% {
    text-shadow: 2px 1px #052c3d, 4px 3px #e601c0, 6px 5px #e9019a, 8px 7px #f40468, 10px 9px 10px #f79098; 
    
  }
  50%{ 
    text-shadow: -2px -1px #052c3d, -4px -3px #e601c0, -6px -5px #e9019a, -8px -7px #f40468, -10px -9px 10px #f79098; }
  75%{  
    text-shadow: -2px 1px #052c3d, -4px 3px #e601c0, -6px 5px #e9019a, -8px 7px #f40468, -10px 9px 10px #f79098; 
  }
  100%{  
    text-shadow: 2px -1px #052c3d, 4px -3px #e601c0, 6px -5px #e9019a, 8px -7px #f40468, 10px -9px 10px #f79098; 
  } 
  
}
